/* Admin Login */

.signin {
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 16px;
    padding: 36px;
}

.logo-section {
    margin-top: 60px;
}

.login-hr {
    width: 50%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.alert {
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
}